.component {
    width: 85%;
    max-width: 320px;
    background-color: $bg-secondary-color;
    padding: 1rem 1rem 5rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__image-qr-code {
        width: 100%;
        border-radius: 10px;
    }

    &__texts {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &__heading {
        color: $headings-color;
        font-weight: 700;
        font-size: 22px;
        text-align: center;
    }

    &__paragraph {
        color: $paragraph-color;
        font-weight: 400;
        font-size: 15px;
        text-align: center;
        padding: 0 15px;
    }
}

.attribution {
    position: fixed;
    bottom: 20px;
}